:root {
  --card-bg: #4c4e5950;
}

.ticket-container {
  height: 200px;
}

.rides-container {
  padding-top: 20px;
  gap: 45px;
}

.rides-container .subhead {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--card-bg);
}

.rides-parks {
  gap: 12px;
}

.rides-wrapper {
  gap: 8px;
}

.ride-card {
  gap: 12px;
  background: var(--card-bg);
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  height: 40px;
  justify-content: center;
}

.ride-card .card-title {
  text-wrap: balance;
}

.ride-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.ticket-card {
  border-radius: 16px;
  border: 1px solid #6b6b6b;
  background: rgba(76, 78, 89, 0.5);
  padding: 16px;
}

.qr {
  height: 200px;
  width: 200px;
}

.accordion {
  margin-top: 54px;
  padding-top: 24px;
  border-top: 1px solid var(--card-bg);
  cursor: pointer;
}
