body {
  margin: 0 auto;
  background: #0c0e17;
  color: white;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 2rem 0;
  background: #1a1c28;
}

.icon-wrapper {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.max-container {
  width: 342px;
  padding: 16px;
}

.wrapper {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-items {
  justify-content: center;
  align-items: center;
}
