body {
  margin: 0 auto;
  background: #0c0e17;
  color: white;
  font-family: sans-serif;
}

.App {
  overflow: scroll;
  padding-bottom: 120px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
}

h4 {
  text-transform: uppercase;
  letter-spacing: .12em;
  font-size: 14px;
  font-weight: 200
}

.caption {
  text-transform: Capitalize;
  letter-spacing: .12em;
  font-size: 12px;
  font-weight: 100
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 2rem 0;
  background: #1a1c28;
}

.icon-wrapper {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.max-container {
  padding: 16px;
  
}

.wrapper {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-items {
  justify-content: center;
  align-items: center;
}
