

body {
 margin: 0 auto;
 background: #0C0E17;
 color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 2rem 0;
  background: #1A1C28
}

.icon-wrapper {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}